<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewLeaveRequest') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form
      [formGroup]="service.form"
      id="leave-request"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::LeaveRequest' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="leave-request-leave-type">
                  {{ '::LeaveType' | abpLocalization }} *
                </label>

                <select
                  id="leave-request-leave-type"
                  formControlName="leaveType"
                  class="form-select form-control"
                  autofocus
                >
                  <option [ngValue]="null"></option>
                  <option
                    *ngFor="
                      let option of service.leaveTypeOptions;
                      trackBy: service.track.by('key')
                    "
                    [ngValue]="option.value"
                  >
                    {{ '::Enum:LeaveType.' + option.value | abpLocalization }}
                  </option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label" for="leave-request-leave-status">
                  {{ '::LeaveStatus' | abpLocalization }} *
                </label>

                <select
                  id="leave-request-leave-status"
                  formControlName="leaveStatus"
                  class="form-select form-control"
                >
                  <option [ngValue]="null"></option>
                  <option
                    *ngFor="
                      let option of service.leaveStatusOptions;
                      trackBy: service.track.by('key')
                    "
                    [ngValue]="option.value"
                  >
                    {{ '::Enum:LeaveStatus.' + option.value | abpLocalization }}
                  </option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label" for="leave-request-start-date">
                  {{ '::StartDate' | abpLocalization }} *
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="leave-request-start-date"
                    formControlName="startDate"
                    class="form-control"
                    ngbDatepicker
                    #startDateInput
                    #startDateDatepicker="ngbDatepicker"
                    (click)="startDateDatepicker.open()"
                    (keyup.space)="startDateDatepicker.open()"
                  />
                  @if (startDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          startDateDatepicker.writeValue(null);
                          startDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="leave-request-end-date">
                  {{ '::EndDate' | abpLocalization }} *
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="leave-request-end-date"
                    formControlName="endDate"
                    class="form-control"
                    ngbDatepicker
                    #endDateInput
                    #endDateDatepicker="ngbDatepicker"
                    (click)="endDateDatepicker.open()"
                    (keyup.space)="endDateDatepicker.open()"
                  />
                  @if (endDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          endDateDatepicker.writeValue(null);
                          endDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="leave-request-reason">
                  {{ '::Reason' | abpLocalization }} *
                </label>

                <input
                  id="leave-request-reason"
                  formControlName="reason"
                  class="form-control"
                  maxlength="1000000"
                  minlength="1"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="leave-request-request-date">
                  {{ '::RequestDate' | abpLocalization }} *
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="leave-request-request-date"
                    formControlName="requestDate"
                    class="form-control"
                    ngbDatepicker
                    #requestDateInput
                    #requestDateDatepicker="ngbDatepicker"
                    (click)="requestDateDatepicker.open()"
                    (keyup.space)="requestDateDatepicker.open()"
                  />
                  @if (requestDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          requestDateDatepicker.writeValue(null);
                          requestDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="leave-request-employee-id">
                  {{ '::Employee' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="leave-request-employee-id"
                  formControlName="employeeId"
                  [getFn]="service.getEmployeeLookup"
                ></abp-lookup-select>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="leave-request">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
